{% extends 'account/account_base.html' %}
{% load static %}

{% block title %}
  Registrar nueva cuenta de usuario
{% endblock title %}

{% block account_content %}

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <b>
        <p>Por favor corrija los siguientes errores:</p>
      </b>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            <li>{{ field.errors|striptags }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <form class="account-form p-4 rounded" action="." method="post">
    {% csrf_token %}
    <h3 class="mb-2">Crear nueva cuenta de usuario</h3>
    <p class="mb-4 text-muted small fst-italic">Los campos marcados con * son obligatorios</p>

    {% comment %} EMAIL {% endcomment %}
    <label>{{ form.email.label}}
      <span class="text-muted small">*</span></label>
    {{ form.email }}

    {% comment %} FIRST NAME {% endcomment %}
    <label>{{ form.first_name.label}}
      <span class="text-muted small">*</span></label>
    {{ form.first_name }}

    {% comment %} LAST NAME {% endcomment %}
    <label>{{ form.last_name.label}}
      <span class="text-muted small">*</span></label>
    {{ form.last_name }}

    {% comment %} PHONE_NUMBER {% endcomment %}
    <label>{{ form.phone_number.label}}
      <span class="text-muted small">*</span>
      <span class="text-muted small fst-italic">(Ej: +543413123456)</span>
    </label>
    {{ form.phone_number }}

    {% comment %} PASSWORD {% endcomment %}
    <label>{{ form.password.label}}
      <span class="text-muted small">*</span>
      <span class="text-muted small fst-italic">(Mínimo 8 caracteres incluyendo 1 número)</span>
    </label>
    {{ form.password }}

    {% comment %} PASSWORD2 {% endcomment %}
    <label>{{ form.password2.label}}<span class="text-muted small">*</span></label>
    {{ form.password2 }}

    {% comment %} REGISTER BUTTON {% endcomment %}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Registrar</button>

    {% comment %} ALREADY HAVE AN ACCOUNT {% endcomment %}
    <p class="text-center">
      <a href="{% url "account:login" %}">Ya tengo una cuenta de usuario</a>
    </p>
  </form>

{% endblock account_content %}