{% extends '../../store/base.html' %}

{% block title %}
    Cuenta eliminada
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mx-auto">
                            <div class="p-4">
                                <h3 class="mb-4">Cuenta eliminada</h3>
                                <p>Lamentamos mucho que hayas decidido dejar de formar parte de BookStore. Tu cuenta ha sido eliminada correctamente.</p>
                                <p>Esperamos volver a verte!</p>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}