{% load i18n %}{% autoescape off %}
{% blocktranslate %}Está recibiendo este email debido a que solicitó el reestablecimiento de la contraseña de su cuenta de usuario en {{ site_name }}.{% endblocktranslate %} 
{% translate "Haga click en el siguiente enlace para confirmar el reestablecimiento y elegir su nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Su nombre de usuario es' %} {{ user.get_username }}

{% translate "Si usted no solicitó el reestablecimiento, ignore este email." %}

{% translate "Gracias por elegirnos!" %}

{% blocktranslate %}El equipo de {{ site_name }} {% endblocktranslate %}

{% endautoescape %}