{% extends 'base.html' %}
{% load static %}

{% block title %}
    Opciones de envío
{% endblock title %}

{% block stylesheet %}
    {% static 'checkout/css/checkout.css' %}
{% endblock stylesheet %}

{% block content %}


  <div class="container">
    <div class="col-12">
      <h1 class="h2">Opciones de envío</h1>
    </div>
    <div class="col-12">
      <p>Seleccione el tipo de envío</p>
    </div>
    <hr>
  </div>

  <div class="container">
    {% if messages %}
      <div class="alert alert-warning" alert-{{ message.tags }} role="alert">
        {% for message in messages %}
          {{message|safe}}
        {% endfor %}
      </div>
    {% endif %}
    <div class="row g-3">
      {% if deliveryoptions|length == 0 %}
        <div class="col-12">
          No se encontraron opciones de envío. <a href="{% url 'store:product_all' %}"> Ir a la tienda </a>.
        </div>
      {% else %}

        {% comment %} PRICES {% endcomment %}
        <div class="col-md-4 col-lg-4 order-md-last p-0 order-3">

          {% comment %} SUB TOTAL {% endcomment %}
          <div class="d-flex bd-highlight ms-0">
            <div class="p-2 flex-grow-1 bd-highlight">
              Sub total:
            </div>
            <div class="p-2 bd-highlight">
              <span class="fw-bold h5">$ </span><span class="fw-bold h5" id="sub_total">{{basket.get_subtotal_price|floatformat:2}}</span>
            </div>
          </div>

          {% comment %} DELIVERY PRICE {% endcomment %}
          <div class="d-flex bd-highlight ms-0">
            <div class="p-2 flex-grow-1 bd-highlight">
              Envío:
            </div>
            <div class="p-2 bd-highlight">
              <span class="fw-bold h5">$ </span><span class="fw-bold h5" id="delivery_price">{{basket.get_delivery_price|floatformat:2}}</span>
            </div>
          </div>

          {% comment %} TOTAL {% endcomment %}
          <div class="d-flex bd-highlight ms-0">
            <div class="p-2 flex-grow-1 bd-highlight">
              Total:
            </div>
            <div class="p-2 bd-highlight">
              <span class="fw-bold h5">$ </span><span class="fw-bold h5" id="total">{{basket.get_total_price|floatformat:2}}</span>
            </div>
          </div>

          {% comment %} PAY BUTTON {% endcomment %}
          <a role="button" href="{% url 'checkout:delivery_address' %}" class="btn btn-success fw-bold w-100" type="button"> Finalizar compra </a>
        </div>

        {% comment %} DELIVERY OPTIONS {% endcomment %}
        <div class="col-md-7 col-lg-8">
          {% for option in deliveryoptions %}
            <div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="{{ option.id }}">
              <div class="row g-0">
                <div class="col-md-2 ps-3 ps-md-4">
                  {% if option.delivery_name == 'Retiro en el local' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-shop mt-2" viewBox="0 0 16 16">
                      <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                    </svg>
                  {% elif option.delivery_name == 'Envío digital' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-envelope-at mt-2" viewBox="0 0 16 16">
                      <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                      <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-truck mt-2"
                    viewBox="0 0 16 16">
                    <path
                      d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  {% endif %}
                </div>
                <div class="col-md-9 ps-md-1">
                  <div class="card-body p-1">
                    <p class="card-text ps-2 mb-1 pt-1 fw-bold">{{option.delivery_name}}</p>
                    <p class="card-text ps-2 pb-3">Tiempo estimado de demora: {{option.delivery_timeframe}}</p>
                  </div>
                </div>
                <div class="col-md-1 ps-md-1">
                  <input class="align-middle h-100" type="radio" name="deliveryOption" id="{{option.id}}" value="{{option.id}}">
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>


  <script>
    $('input[type=radio][name=deliveryOption]').on('change', function(e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: '{% url "checkout:basket_update_delivery" %}',
        data: {
          deliveryoption: $(this).val(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: "post",
        },
        success: function (json) {
          document.getElementById("total").innerHTML = json.total;
          document.getElementById("delivery_price").innerHTML = json.delivery_price;
        },
        error: function (xhr, errmsg, err) {},
      });
      
    });
  </script>


{% endblock content %}