{% extends 'base.html' %}
{% load static %}

{% block title %}
Mis direcciones
{% endblock title %}

{% block stylesheet %}
{% static 'account/css/account.css' %}
{% endblock stylesheet %}


{% block content %}


<div class="container">
  <div class="col-6 mx-auto">
    {% if action == 'ADD' %}
      <h1 class="h3">Agregar nueva dirección</h1>
      <div>Agregar una nueva dirección de envío.</div>
    {% else %}
      <h1 class="h3">Editar dirección</h1>
      <div>Editar una dirección de envío.</div>
    {% endif %}
    <hr />
    <form name="address_form" class="account-form" method="post" enctype="multipart/form-data">
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Error: Intente nuevamente! {{ form.errors }}
      </div>
      {% endif %}
      {% csrf_token %}
      <label class="small fw-bold">{{ form.full_name.label}}</label>
      {{ form.full_name }}
      <label class="small fw-bold">{{ form.phone_number.label}}</label>
      {{ form.phone_number }}
      <label class="small fw-bold">{{ form.country.label}}</label>
      {{ form.country }}
      <label class="small fw-bold">{{ form.state.label}}</label>
      {{ form.state }}
      <label class="small fw-bold">{{ form.city.label}}</label>
      {{ form.city }}
      <label class="small fw-bold">{{ form.postcode.label}}</label>
      {{ form.postcode }}
      <label class="small fw-bold">{{ form.street_name.label}}</label>
      {{ form.street_name }}
      <label class="small fw-bold">{{ form.street_number.label}}</label>
      {{ form.street_number }}
      <label class="small fw-bold">{{ form.floor.label}}</label>
      {{ form.floor }}
      <label class="small fw-bold">{{ form.apartment.label}}</label>
      {{ form.apartment }}
      <label class="small fw-bold">{{ form.delivery_instructions.label}}</label>
      {{ form.delivery_instructions }}
      {% if action == 'ADD' %}
        <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit"
          onclick="submitForm()">
          Agregar dirección
        </button>      
      {% else %}
        <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit"
          onclick="submitForm()">
          Editar dirección
      </button>
    {% endif %}
    </form>

  </div>
</div>


<script>
  function submitForm() {
    var form = document.getElementsByName('address_form')[0];
    form.submit(); // Submit the form
    form.reset();  // Reset all form data
    return false;  // Prevent page refresh
  }
</script>

{% endblock content %}